---
import Base from "../Layouts/Base.astro";
import AuthContainer from "../components/AuthContainer.astro";

import { getSession } from "auth-astro/server";
import { type Session } from "@auth/core/types";

type ExtendedSession = {
	team: string;
	teamName: string;
	teamImage: string;
	user: {
		role: string;
	};
};

const session = (await getSession(Astro.request)) as Session & ExtendedSession;

if (!session) {
	const error = "authentication_error";
	const errorDescription = "User session not found or expired. Please log in.";
	const queryParams = new URLSearchParams({ error, errorDescription });
	const redirectUrl = `/error?${queryParams.toString()}`;

	return new Response(null, {
		status: 302,
		headers: new Headers({
			Location: redirectUrl,
		}),
	});
} else if (session.user.role === "guest") {
	const error = "authorization_error";
	const errorDescription =
		"User does not have the necessary permissions to access this page. Please log in with an authorized account. If you believe this is an error, please contact your administrator.";
	const queryParams = new URLSearchParams({ error, errorDescription });
	const redirectUrl = `/error?${queryParams.toString()}`;

	return new Response(null, {
		status: 302,
		headers: new Headers({
			Location: redirectUrl,
		}),
	});
}

import { db, Event, User } from "astro:db";
import { like } from "astro:db";

if (Astro.request.method === "POST") {
	try {
		const data = await Astro.request.formData();
		const event = {
			name: data.get("name") as string,
			date: new Date(`${data.get("date")}T${data.get("time")}`),
			location: data.get("location") as string,
			comments: data.get("comments") as string,
			team: session.team,
			statusNotGoing: (
				await db.select().from(User).where(like(User.team, session.team))
			)
				.map(({ userId }) => userId)
				.join(","),
		};

		await db.insert(Event).values(event);
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message);
		}
	}
}

const events = await db
	.select()
	.from(Event)
	.where(like(Event.team, session.team));
---

<Base title="Dashboard">
	<section>
		<AuthContainer />
	</section>

	<section>
		<p>
			In your organization {session.teamName} there are currently {
				events.length
			} events
		</p>
	</section>
	<section>
		<details id="new-event-container">
			<summary>Create a new event?</summary>
			<form method="post" name="new-event" id="new-event">
				<label for="name">Name</label>
				<input type="text" id="name" name="name" required />
				<div class="date-time">
					<label for="date">Date</label>
					<input type="date" id="date" name="date" required />
					<label for="time">Time</label>
					<input type="time" id="time" name="time" required />
				</div>
				<label for="location">Location</label>
				<input type="text" id="location" name="location" required />
				<label for="comments">Comments</label>
				<textarea id="comments" name="comments" required></textarea>

				<button type="submit">Create Event</button>
			</form>
		</details>
	</section>
	<section class="events">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Date</th>
					<th>Time</th>
					<th>Location</th>
					<th>Description</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{
					events.map(({ name, comments, location, date }) => (
						<tr>
							<td>{name}</td>
							<td>{date.toLocaleDateString()}</td>
							<td>
								{date.toLocaleTimeString([], {
									hour: "2-digit",
									minute: "2-digit",
								})}
							</td>
							<td>{location}</td>
							<td>{comments}</td>
							<td>y/m/n</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</section>
</Base>

<style>
	.events {
		text-align: center;
	}

	table {
		width: 100%;
		border: 0.1rem solid #ddd;
	}

	th,
	td {
		padding: 1rem;
		border-bottom: 0.1rem solid #ddd;
	}

	.events table th {
		text-align: left;
	}

	.events table td {
		text-align: left;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.date-time {
		display: flex;
		gap: 1rem;
	}
</style>
