---
import Base from "../Layouts/Base.astro";
import AuthContainer from "../components/AuthContainer.astro";

import { getSession } from "auth-astro/server";
import { type Session } from "@auth/core/types";

type ExtendedSession = {
	team: string;
	teamName: string;
	teamImage: string;
};

const session = (await getSession(Astro.request)) as Session & ExtendedSession;

if (!session) {
	const error = "authentication_error";
	const errorDescription = "User session not found";
	const queryParams = new URLSearchParams({ error, errorDescription });
	const redirectUrl = `/error?${queryParams.toString()}`;

	return new Response(null, {
		status: 302,
		headers: new Headers({
			Location: redirectUrl,
		}),
	});
}

import { db, Event } from "astro:db";
import { like } from "astro:db";

const events = await db
	.select()
	.from(Event)
	.where(like(Event.orgId, session.team));
---

<Base title="Dashboard">
	<section>
		<AuthContainer />
	</section>

	<section>
		<p>
			In your organization {session.teamName} there are currently {
				events.length
			} events
		</p>
	</section>
	<section class="events">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Date</th>
					<th>Time</th>
					<th>Location</th>
					<th>Description</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{
					events.map(({ name, comments, location, date }) => (
						<tr>
							<td>{name}</td>
							<td>{date.toLocaleDateString()}</td>
							<td>
								{date.toLocaleTimeString([], {
									hour: "2-digit",
									minute: "2-digit",
								})}
							</td>
							<td>{location}</td>
							<td>{comments}</td>
							<td>y/m/n</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</section>
</Base>

<style>
	.events {
		text-align: center;
	}

	table {
		width: 100%;
		border: 0.1rem solid #ddd;
	}

	th,
	td {
		padding: 1rem;
		border-bottom: 0.1rem solid #ddd;
	}

	.events table th {
		text-align: left;
	}

	.events table td {
		text-align: left;
	}
</style>
