---
import Base from "../Layouts/Base.astro";
import AuthContainer from "../components/AuthContainer.astro";

import { getSession } from "auth-astro/server";
import { type Session } from "@auth/core/types";

type ExtendedSession = {
	team: string;
	teamName: string;
	teamImage: string;
	user: {
		role: string;
	};
};

const session = (await getSession(Astro.request)) as Session & ExtendedSession;

if (!session) {
	const error = "authentication_error";
	const errorDescription = "User session not found or expired. Please log in.";
	const queryParams = new URLSearchParams({ error, errorDescription });
	const redirectUrl = `/error?${queryParams.toString()}`;

	return new Response(null, {
		status: 302,
		headers: new Headers({
			Location: redirectUrl,
		}),
	});
} else if (session.user.role !== "admin") {
	const error = "authorization_error";
	const errorDescription =
		"User does not have the necessary permissions to access this page. Please log in with an authorized account. If you believe this is an error, please contact your administrator.";
	const queryParams = new URLSearchParams({ error, errorDescription });
	const redirectUrl = `/error?${queryParams.toString()}`;

	return new Response(null, {
		status: 302,
		headers: new Headers({
			Location: redirectUrl,
		}),
	});
}

import { db, like, and, User, Organization } from "astro:db";
let users = await db.select().from(User).where(like(User.team, session.team));

import { Md5 } from "ts-md5";
let error: { ok: boolean; message: string; confirm?: boolean } = {
	ok: false,
	message: "",
};

let {
	subject = "",
	message = "",
	SendToUsers = [""],
	confirm = false,
	all = false,
} = {};

if (Astro.request.method === "POST") {
	const data = await Astro.request.formData();
	if (data.has("message") && session.user.role === "admin") {
		subject = data.get("subject") as string;
		message = data.get("message") as string;
		SendToUsers = data.getAll("users") as string[];
		confirm = data.has("confirm");
		all = data.has("all");

		let userList = [];

		if (all) {
			// get all users emails
			userList = users.map((user) => ({ email: user.email, name: user.name }));
		} else {
			// get selected users emails
			userList = users
				.filter((user) => SendToUsers.includes(user.userId))
				.map((user) => ({ email: user.email, name: user.name }));
		}

		const email = {
			to: "annoucements@magicsnap.org",
			bcc: userList,
			from: "magic.broadcast@magicsnap.org",
			subject: subject,
			text: message,
		};

		const lastEmailHash = (
			await db
				.select()
				.from(Organization)
				.where(
					and(
						like(Organization.lastMessageHash, Md5.hashStr(email.text)),
						like(Organization.team, session.team)
					)
				)
		)[0];

		if (lastEmailHash && !confirm) {
			error = {
				ok: false,
				message:
					"It looks like you just sent this message. Are you sure you want to send it again?",
				confirm: true,
			};
		} else {
			const response = await fetch("https://email.magicsnap.org/api/email", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					Authorization: process.env.EMAIL_API_KEY || "",
				},
				body: JSON.stringify(email),
			});

			if (!response.ok) {
				error = {
					ok: false,
					message: `Failed to send message to users. ${response.status} ${response.statusText}`,
				};
				console.log(
					response.status,
					response.statusText,
					await response.text()
				);
			} else {
				await db
					.update(Organization)
					.set({
						lastMessageHash: Md5.hashStr(email.text),
					})
					.where(like(Organization.team, session.team));

				subject = "";
				message = "";
				SendToUsers = [""];
				confirm = false;
				all = false;

				error = {
					ok: true,
					message: `Message sent successfully to ${userList.length} users.`,
				};
			}
		}
	} else {
		error = {
			ok: false,
			message: "You do not have the necessary permissions to send messages.",
		};
	}
}
---

<Base title="Messages">
	<section>
		<AuthContainer />
	</section>

	<section>
		{error.ok && error.message.length > 0 && <h3>{error.message}</h3>}
		{
			!error.ok && error.message.length > 0 && (
				<h3 style="color: red">{error.message}</h3>
			)
		}
		<form method="post">
			<label for="subject">Subject</label>
			<input type="text" id="subject" name="subject" required value={subject} />
			<label for="message">Message</label>
			<textarea id="message" name="message" required>{message}</textarea>
			<select name="users" id="users" multiple>
				{
					users.map((User) =>
						SendToUsers.includes(User.userId) ? (
							<option value={User.userId} selected>
								{User.name}
							</option>
						) : (
							<option value={User.userId}>{User.name}</option>
						)
					)
				}
			</select>

			<div>
				<input type="checkbox" id="all" name="all" value="all" checked={all} />
				<label for="all">Send to all users</label>

				{
					error.confirm && (
						<>
							<input type="checkbox" name="confirm" id="confirm" />
							<label for="confirm">
								Yes, I'm sure I want to send this message again.
							</label>
						</>
					)
				}
			</div>

			<button type="submit" name="message" disabled>Send</button>
		</form>
	</section>
</Base>
<style>
	form {
		display: flex;
		flex-direction: column;
		border-radius: 0.45rem;
	}

	form div {
		display: flex;
		align-items: center;
		align-self: center;
	}
</style>

<script>
	const form = document.querySelector("form");
	const submitButton = form?.querySelector(
		"button[type='submit']"
	) as HTMLButtonElement | null; // Target the submit button and assert the correct type

	form?.addEventListener("change", () => {
		const subjectInput = document.getElementById("subject") as HTMLInputElement;
		const messageInput = document.getElementById(
			"message"
		) as HTMLTextAreaElement;
		const all = document.querySelector<HTMLInputElement>("#all");
		const users = document.getElementById("users") as HTMLSelectElement;

		// Check if subject and message are filled (assuming they are required)
		const isSubjectFilled = subjectInput.value.trim() !== "";
		const isMessageFilled = messageInput.value.trim() !== "";

		// Check if either "all" checkbox is checked or users are selected
		const isUserSelectionValid =
			all?.checked || users.selectedOptions.length > 0; // Perform null check on 'all'

		// Update submit button based on validation
		if (submitButton) {
			submitButton.disabled =
				!isSubjectFilled || !isMessageFilled || !isUserSelectionValid; // Perform null check on 'submitButton'
		}
	});
</script>
