---
import Base from "../Layouts/Base.astro";
import AuthContainer from "../components/AuthContainer.astro";

import { getSession } from "auth-astro/server";
import { type Session } from "@auth/core/types";

type ExtendedSession = {
	team: string;
	teamName: string;
	teamImage: string;
	user: {
		role: string;
	};
};

const session = (await getSession(Astro.request)) as Session & ExtendedSession;

if (!session) {
	const error = "authentication_error";
	const errorDescription = "User session not found or expired. Please log in.";
	const queryParams = new URLSearchParams({ error, errorDescription });
	const redirectUrl = `/error?${queryParams.toString()}`;

	return new Response(null, {
		status: 302,
		headers: new Headers({
			Location: redirectUrl,
		}),
	});
}

import { db, User, Organization } from "astro:db";
import { like } from "astro:db";

let users = await db.select().from(User);
let slackUsers = users.filter((user) => user.role === "invited");

if (Astro.request.method === "POST") {
	const data = await Astro.request.formData();
	console.log(data);

	if (data.has("refresh")) {
		const team = (await db.select().from(Organization).where(like(Organization.team, session.team)))[0];

		const localSlackUsers = await fetch("https://slack.com/api/users.list", {
			headers: {
				Authorization: `Bearer ${team.slackToken}`,
			},
		}).then((res) => res.json());

		console.log(localSlackUsers);

		if (!localSlackUsers.ok) {
			return new Response("Error fetching users from slack", { status: 500 });
		}

		// remove the user from the slackUsers list if they have an account
		users.forEach((user) => {
			localSlackUsers.members = localSlackUsers.members.filter((slackUser: any) => slackUser.profile.email !== user.email);
		});

		for (const slackUser of localSlackUsers.members) {
			await db.insert(User).values({
				team: session.team,
				name: slackUser.name,
				email: slackUser.profile.email || "",
				image: slackUser.profile.image_192,
				role: "invited",
			});

			slackUsers.push({
				userId: "",
				team: session.team,
				name: slackUser.name,
				email: slackUser.profile.email,
				image: slackUser.profile.image_192,
				role: "invited",
			});
		}
	}
}
---

<Base title="Dashboard">
	<section>
		<AuthContainer />
	</section>

	<section>
		<p>
			In your organization {session.teamName} there are currently {users.length}
			users who have logged into MagicSnap. {slackUsers.length}
			users are in your Slack workspace and haven't created an acount.
		</p>
	</section>
	<section>
		<form method="post" style="background: transparent">
			<button name="refresh" type="submit" value="true" style="margin-top: 0;">Refresh the users from slack workspace</button>
			<span>This only needs to be done if you just created an acount or if new users have join your slack workspace</span>
		</form>
	</section>
	<section class="users">
		<table>
			<thead>
				<tr>
					<th>Team</th>
					<th>Name</th>
					<th>Email</th>
					<th>Image</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="5"><h3>Users with an acount</h3></td>
				</tr>
				{
					users.map(({ team, name, email, image, role }) => (
						<tr>
							<td>{team}</td>
							<td>{name}</td>
							<td>{email}</td>
							<td>
								<img src=`${image}` alt="" class="profile-pic"/>
							</td>
							<td>{role}</td>
						</tr>
					))
				}

				<tr>
					<td colspan="5"><h3>Users without an acount</h3></td>
				</tr>

				{
					slackUsers.map(({ name, email, image, role }) => (
						<tr>
							<td>{session.team}</td>
							<td>{name}</td>
							<td>{email}</td>
							<td>
								<img src=`${image}` alt="" class="profile-pic"/>
							</td>
							<td>{role}</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</section>
</Base>

<style>
	.events {
		text-align: center;
	}

	table {
		width: 100%;
		border: 0.1rem solid #ddd;
	}

	th,
	td {
		padding: 1rem;
		border-bottom: 0.1rem solid #ddd;
	}

	.events table th {
		text-align: left;
	}

	.events table td {
		text-align: left;
	}

    .profile-pic {
        width: 6rem;
        border-radius: 50%;
    }
</style>
